# Dependencies
node_modules/

# Environment Variables
.env
.env.*
.env.local
.env.*.local

# Production Build
dist/
build/
out/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/uploads/
